node_modules
**/node_modules
**/dist
**/*.tsbuildinfo
**/coverage
**/playwright-report
**/test-results
.env
.env.deploy
data
storage
.tmp
outputs
npm-debug.log
.git
.github
coverage
playwright-report
test-results
templates/templates.7z
